.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__time-slot {
    height: 59px;
    position: relative;
    border-bottom: 1px solid rgb(238, 238, 238);

    &.highlighted {
      background-color: rgb(0, 0, 255);
    }
  }
}
